.btn{
	color:white;
	font-size:1.5em;
	font-weight:400;
	padding:10px;
	border:1px solid white;
	border-radius:5px;
	width:100%;

	&:hover{
		cursor:pointer;
	}
}

.btn-primary{
	background-color:#3498db;
	border-bottom: 4px solid #2980b9;
}

.btn-secondary{
	background-color:#627b8b;
	border-bottom: 4px solid #3f515d;
	
}